.plan-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #0a090915;
    transition: 0.3s;
    animation: fadeIn 1s;
    max-width: 1200px
}

.plan-item-img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}



.plan-item-name{
justify-content: space-between;
margin-bottom: 20px;
}

.plan-item-name h3{
    font-size: 20px;
    text-align: center;
}



.plan-item-desc{
    color: #676767;
    font-size: 18px;
    margin-bottom: 20px;
}

.plan-item-prise{
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
}

.plan-item-buy{
    display: block;
    text-align: center;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.plan-item-buy:hover{
    background-color: orange;
}