/* .food-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .food-item {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .food-item img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .food-item p {
    margin: 10px 0;
    font-size: 14px;
    color: #333;
    cursor: pointer;
  }
   */

   .food-gallery{
    display:flex;
    flex-direction: column;
    gap: 20px;
   }
   
   .food-item{
    display: flex;
    /* justify-content: space-between;
  
    
    
    
    
    gap: 30px;
    
    margin: 20px 0px;
    overflow-x: scroll; 
    display: grid; */
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    overflow: hidden;
    
   }

   .food-item.food-item::-webkit-scrollbar{
    display: none;
   }

   .food-item img{
    width: 250px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   }

   .food-item p{
    margin: 10px 0;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    
   }

   .plan-list-item .active{
    border: 4px solid orange;
    padding: 2px;
   }

