

   .food-gallery{
    display:flex;
    flex-direction: column;
    gap: 20px;
   }
   .info-plan{
    font-size: 25px;
    color: #676767;
   }

   h1{
    color: green;
   }
   
   .food-item{
    display: flex;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    overflow: hidden;
    
    
   }

  

   .food-item.food-item::-webkit-scrollbar{
    display: none;
   }

   .food-item img{
    width: 250px;
    cursor: pointer;
    border-radius: 10px 10px 0px 0px;
    transition: 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid orange;
    
    
   }

   .food-item p{
    margin: 10px 0;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    
    
   }

   .plan-list-item{
    border: 2px solid orange;
    border-radius: 10px;
   }

   .plan-list-item .active{
    border: 4px solid orange;
    padding: 2px;
   }

   .food-gallery hr{
    margin: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
   }
