.list-table-format{
    display: grid;
    grid-template-columns: 4fr 3fr 5fr 3fr 3fr 2fr 1fr;
    align-items: center;
    gap: 10px;
    padding: 12px 40px;
    border: 1px solid #cacaca;
    font-size: 15px;
    
}

.list-table-format.title{
    background-color: #f9f9f9;
    
}

 .image{
    width: 75px;
}

@media(max-width:600px){
    .list-table-format{
        grid-template-columns: 1fr 3fr 1fr;
        gap:15px;
    }
    .list-table-format.title{
        display: none;
    }
}

.remove{
    cursor: pointer;
}

.remove{
    color: red;  
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  

}
.edit{
    height: 20px;
    width: 20px;
}

button{
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    height: 30px;
}